// Bootstrap resets
.navbar-default {
	background-image: none; 
	filter: none; 
	background-repeat: no-repeat;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-default {
	background-color: #fff;
	border-color: #fff; 
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.col-md-6 {
    padding: 0px;
}

.alert {
    height: auto;
    width: 60%;
    margin: 10px auto;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

.alert h4 {
    color: #c2b730;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* The Modal (background) */
#privacyModal {
    display: none; /* Hidden by default */
}

#copyrightModal {
    display: none; /* Hidden by default */
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#privacyModal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    left: 50%;
    top: 25%;
}

#copyrightModal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    left: 50%;
    top: 40%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
}

.modal-header h2 {
    color: #000;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
}

.navbar-header {
	width: 45%;
}

.navbar>.container .navbar-brand {
	margin-left: 0;
}

.title {
    width: 200px;
    height: 85px;
    margin: 15px 0 30px 0;
}

.bx-viewport {
    /*height: 305px !important;*/
}

.logo {
    background-image: url("../img/ses-logo.png");
    background-repeat: no-repeat;
}

.header-container .social-media-header {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    position: absolute;
    right: 5%;
}

.header-container .social-media-header .fb {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/facebook-header.jpg");
    background-repeat: no-repeat;
}
.header-container .social-media-header .li {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/linkedin-header.jpg");
    background-repeat: no-repeat;
}
.header-container .social-media-header .ig {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/instagram-header.jpg");
    background-repeat: no-repeat;
}
.header-container .social-media-header .tw {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/twitter-header.jpg");
    background-repeat: no-repeat;
}

.slogan {
    font-family: gotham-medium, arial, sans-serif;
    padding: 78px 0 30px 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #e97e24;
    font-weight: bold;
    margin: 0;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 63px;
}

ul.nav.navbar-nav.navbar-right li a {
    text-transform: uppercase;
    font-family: gotham-book, arial, sans-serif;
    font-size: 14px;
    color: #616b72;
    text-align: center;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    text-decoration: none;
    color: #147dc1;
}

ul.nav.navbar-nav.navbar-right li li:first-child a {
    margin-left: 0;
}

ul.nav.navbar-nav.navbar-right li li:last-child a {
    margin-right: 0;
}

.main-container {
    margin-top: 80px;
    margin-bottom: -5px;
}

.main {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}

#ses-video {
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.scrim {
    background-color: #000;
    opacity: .3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slider {
    width: 93%;
    height: 305px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}

.slider .slider-content ul li h2 {
    font-family: gotham-light, arial, sans-serif;
    color: white;
    font-size: 65px;
    line-height: 75px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px 0;
}

.slider .slider-content ul li {
    list-style: none;
    margin-bottom: 50px;
    padding: 10px 0;
}

.slider .slider-content ul li p {
    font-family: gotham-light, arial, sans-serif;
    color: white;
    font-size: 34px;
    line-height: 40px;
    padding: 15px 0;
    display: block;
}

.slider .slider-content ul li p span.orange-bar {
    background: #e97e24;
    padding: 2px 5px 3px;
}

.main-content-below {
    padding: 85px 70px;
    height: auto;
    width: auto;
    background: #6a747c;
    position: relative;
    margin-top: -8px;
}

.main-content-below ul {
    width: 85%;
}

.main-content-below ul li {
    font-family: gotham-light, arial, sans-serif;
    color: white;
    font-size: 65px;
    margin: 10px 0 40px 0;
    line-height: 75px;
    text-transform: uppercase;
    font-weight: normal;
    list-style: none;
}

.about-main-photo {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: -5px;
}

.about-site-main .about-main-container .about-main-photo #ses-about-video, .about-site-main .about-main-container .about-main-photo img {
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.about-main-content-middle {
    width: 100%;
    height: 315px;
    display: block;
    background-image: url("../img/about-middle-img.jpg");
    background-repeat: no-repeat;
}

.about-main-content-middle-text {
    padding: 78px 40px;
    width: 80%;
    margin: 0 auto;
}

.about-main-content-middle-text h2 {
    font-family: gotham-bold, arial, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
}

.about-main-content-middle-text p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.about-main-content-below {
    padding: 25px 40px 25px 40px;
    height: auto;
    width: 100%;
    background: #6a747c;
}

.about-main-content-below-text {
    width: 80%;
    margin: 0 auto;
}

.about-main-content-below-text p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.people-main-row1-container {
	width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.people-main-row1-container .left img, .people-main-row1-container .right img {
    width: 100%;
    height: 100%;
}

.people-orange-bar {
	width: 100%;
    height: 315px;
    display: block;
	background-image: url("../img/people-img-orangebkg.jpg");
	background-repeat: no-repeat;
}

.people-main-content-middle-text {
    padding: 78px 40px;
    width: 80%;
    margin: 0 auto;
}

.people-main-content-middle-text h2 {
    font-family: gotham-bold, arial, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
}

.people-main-content-middle-text p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    text-align: center;
}

.people-row2 {
    display: flex;
}

.people-row2 .left, .people-row2 .middle, .people-row2 .right {
    flex: 1 0 33.3%;
}

.people-row2 .left img, .people-row2 .middle img, .people-row2 .right img {
    width: 100%;
    height: 100%;
}

.people-main-row3-container {
    display: flex;
    max-height: 360px;
}

.people-main-row3-container .left, .people-main-row3-container .right {
    flex: 1 0 50%;
}

.people-main-row3-container .left img, .people-main-row3-container .right img {
    width: 100%;
    height: auto;
}

.services-main-container {
    height: auto;
    width: 100%;
    background: #6a747c;
}

.services-main-photo {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}

.services-main-photo img {
    width: 100%;
    height: auto;
}

.services-main-content-middle {
    width: 100%;
    height: 315px;
    display: block;
    background-image: url("../img/services-middle-img.jpg");
    background-repeat: no-repeat;
}

.services-main-content-middle-text {
    padding: 78px 40px;
    width: 80%;
    margin: 0 auto;
}

.services-main-content-middle-text h2 {
    font-family: gotham-bold, arial, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
}

.services-main-content-middle-text p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.services-main-content-below {
    padding: 0 40px 0 40px;
    height: auto;
    width: 100%;
    display: flex;
    text-align: left;
}


.services-main-content-below .variances-services {
    background: #6a747c;
    flex: 1 30%;
    height: auto;
    padding: 35px 25px 47px 25px;
    position: relative;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services-main-content-below .variances-services h3 {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #c2b730;
    text-transform: uppercase;
}

.services-main-content-below .variances-services p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.services-main-content-below .variances-services .variances-icon {
    width: 70px;
    height: 70px;
    background-size: 100%;
    display: block;
    background-image: url("../img/variance-icon.jpg");
    background-repeat: no-repeat;
    align-self: center;
}

.services-main-content-below .variances-services .variances-container p span {
    position: relative;
    top: -5px;
    left: -1px;
}

.services-main-content-below .pm-services {
    background: #838d94;
    flex: 1 40%;
    height: auto;
    padding: 35px 25px 54px 25px;
    position: relative;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services-main-content-below .pm-services h3 {
    font-family: gotham-bold, arial, sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    color: #c2b730;
    text-transform: uppercase;
}

.services-main-content-below .pm-services .pm-icon {
    width: 50px;
    height: 50px;
    background-size: 100%;
    display: block;
    background-image: url("../img/pm-icon.jpg");
    background-repeat: no-repeat;
    align-self: center;
}

.services-main-content-below .pm-services p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.services-main-content-below .design-services {
    background: #6a747c;
    flex: 1 30%;
    height: auto;
    padding: 35px 25px;
    position: relative;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services-main-content-below .design-services .design-icon {
    width: 75px;
    height: 75px;
    background-size: 100%;
    display: block;
    background-image: url("../img/design-icon.jpg");
    background-repeat: no-repeat;
    align-self: center;
}

.services-main-content-below .design-services h3 {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #c2b730;
    text-transform: uppercase;
}

.services-main-content-below .design-services p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.services-main-content-below-text {
    width: 80%;
    margin: 0 auto;
}

.services-main-content-below-text p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.contact-main-container {
    height: auto;
    width: 100%;
    background: #6a7;
}

.contact-main-content-middle {
    background: #c2b730;
}

.contact-main-content-middle-text {
    padding: 78px 40px;
    width: 80%;
    margin: 0 auto;
}

.contact-main-content-middle-text h2 {
    font-family: gotham-bold, arial, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
}

.contact-main-content-middle-text p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.contact-main-content-below {
    padding: 25px 40px 25px 40px;
    height: auto;
    width: 100%;
    background: #6a747c;
}

.contact-main-content-below .contact-form {
    height: auto;
    padding: 0 0 60px 0;
}

.contact-main-content-below .contact-form #contact-form {
    height: 375px;
    width: 80%;
    margin: 0 auto;
}

.contact-main-content-below .contact-form #contact-form div {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.contact-main-content-below .contact-form #contact-form div span {
    flex: 0 10%;
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    text-align: right;
    margin: 5px 15px 0 0;
}

.contact-main-content-below .contact-form #contact-form div input {
    flex: 0 88%;
    height: 40px;
    background-color: #6a747c;
    border: 1px solid #b5babe;
    color: #fff;
}

.contact-main-content-below .contact-form #contact-form div textarea {
    flex: 0 88%;
    height: 80px;
    background-color: #6a747c;
    border: 1px solid #b5babe;
    color: #fff;
}

.contact-main-content-below .contact-form #contact-form div input[type="submit"] {
    flex: none;
    width: 120px;
    height: 40px;
    border: 0px solid;
    background-color: #e97e24;
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.contact-main-content-below .contact-info {
    display: flex;
}

.contact-main-content-below .contact-info .contact-information {
    flex: 1 25%;
}

.contact-main-content-below .contact-info .contact-information .phone, .contact-main-content-below .contact-info .contact-information .phone a {
    color: #c2b730;
}

.contact-main-content-below .contact-info .contact-information .social-media {
    display: flex;
    margin-top: 20px;
    flex-direction: row;

}

.contact-main-content-below .contact-info .contact-information .social-media .fb {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/facebook.jpg");
    background-repeat: no-repeat;
}
.contact-main-content-below .contact-info .contact-information .social-media .li {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/linkedin.jpg");
    background-repeat: no-repeat;
}
.contact-main-content-below .contact-info .contact-information .social-media .ig {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/instagram.jpg");
    background-repeat: no-repeat;
}
.contact-main-content-below .contact-info .contact-information .social-media .tw {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    background-image: url("../img/twitter.jpg");
    background-repeat: no-repeat;
}

.contact-main-content-below .contact-info .contact-information .privacy-copyright {
    margin: 10px 0 0 0;
    color: #fff;
}

.contact-main-content-below .contact-info .contact-information .privacy-copyright a.privacy {
    color: #fff;
}

.contact-main-content-below .contact-info .contact-information .privacy-copyright a.copyright {
    color: #fff;
}


.contact-main-content-below .contact-info .contact-information h4 {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #c2b730;
    text-transform: uppercase;
}

.contact-main-content-below .contact-info .contact-information h5 {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #c2b730;
    text-transform: uppercase;
    margin: 40px 0 0 0;
}

.contact-main-content-below .contact-info .contact-information p, .contact-main-content-below .contact-info .contact-information address {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    margin: 0;
}

.contact-main-content-below .contact-info .map {
    flex: 1 60%;
}

#careers {
    background: #6a747c !important;
}

.careers-mobile {
	display: none;
}

.careers-desktop {
	display: block;
}

.careers-main-container {
    height: auto;
    width: 100%;
    display: flex;
    background-image: url("../img/careers-bkg.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.careers-main-content-left-column {
    flex: 1 0 65%;
}

#careers-main-home-view {
    min-height: 970px;
}

.careers-main-content-left-column-container {
    width: 100%;
    float: right;
    padding: 10px 20px 15px 100px;
}

.careers-main-content-left-column-container #ajax {
    height: auto !important;
}

.careers-main-content-left-column-container #ajax .career-bkg {
    background: #c2b730;
    padding: 6px;
    height: auto;
    width: 70%;
    margin: 20px 0;
}

.careers-main-content-left-column-container #ajax .career-bkg h3 {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.careers-main-content-left-column-container::after {
	clear: both;
}

.careers-main-content-left-column-container h2 {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 18px;
    line-height: 33px;
    color: #e97e24;
    text-transform: uppercase;
}

.careers-main-content-left-column-container p {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.careers-main-content-left-column-container ul {
    padding-left: 15px;
}

.careers-main-content-left-column-container ul li {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.careers-main-content-left-column-container p.orangeblock {
    display: block;
    padding: 5px;
    background: #e97e24;
    width: 335px;
    text-align: center;
}

.careers-main-content-left-column-container a {
    font-family: gotham-medium, arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.careers-desktop {
	background: rgb(136, 144, 150);
    background: rgba(136, 144, 150, .8);
}

.careers-main-content-right-column {
    flex: 1 0 35%;
    background: rgb(136, 144, 150);
    background: rgba(136, 144, 150, .8);
}

.careers-main-content-right-column-container {
    width: 100%;
    float: left;
    padding: 10px 0 20px 0;
}

.careers-main-content-right-column-container h2 {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 12px;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 100px 0 20px;
    background: #6a747c;
}

.careers-main-content-right-column-container ul {
	margin: 0;
	padding: 0;
}

.careers-main-content-right-column-container ul li.career-title {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 15px;
    line-height: 17px;
    color: #c2b730;
    text-transform: uppercase;
    list-style: none;
    padding: 0 100px 0 20px;
    margin-bottom: 10px
}

.careers-main-content-right-column-container ul.career-details {
    margin: 10px 0;
    padding: 0 0 0 45px;
}

.careers-main-content-right-column-container ul.career-details li {
    font-family: gotham-bold, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    list-style: disc;
    padding: 0 100px 0 0;
}

.careers-main-content-right-column-container ul li a {
    color: #fff;
}

.careers-main-content-right-column-container ul li a:hover {
    color: #e97e24;
    text-decoration: none;
}

.careers-main-content-right-column-container::after {
	clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width : 1315px) {
/* Styles */
    .slider {
        height: 310px;
    }
}

@media (max-width : 1268px) {
/* Styles */
    .slider {
        height: 348px;
    }
}

@media (max-width : 1079px) {
/* Styles */
	.slider {
        height: 430px;
    }
}



/* tablet */
@media (min-width: 992px) and (max-width: 1024px) {

.wrapper {
    width: 95%; /* 1140px - 10% for margins */
    margin: 0 auto;
}
/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        flex: 0 0 160px;
    }

    .logo {
        background-size: 90%;
    }

    /*nav a {
        width: auto;
        font-size: 12px;
        margin: 0;
        padding: 0 12px;
    }*/

    .slider {
        height: 305px;
    }

    .slider .slide {
        margin: 0;
        padding: 0;
    }

    .slider .slider-content ul li h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .slider .slider-content ul li p {
        font-size: 26px;
        line-height: 30px;
    }

    .main-content-below {
        padding: 60px 60px;
    }

    .main-content-below ul {
        margin: 0;
        padding: 0;
    }

    .main-content-below ul li {
        font-family: gotham-light, arial, sans-serif;
        font-size: 50px;
        line-height: 60px;
        margin: 10px 0 40px 0;
    }
}

/* tablet */
@media (min-width: 870px) and (max-width: 991px) {

	.wrapper {
	    width: 95%; /* 1140px - 10% for margins */
	    margin: 0 auto;
	}

	.container {
	    width: 100%;
	}

	.navbar-default {
	    height: 131px;
	}
/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        flex: 0 0 160px;
        margin: 15px 0 10px 0;
    }

    .logo {
        background-size: 90%;
    }

    .slogan {
    	font-size: 12px;
    	padding: 78px 0 5px 10px;
    }

    .navbar-header {
    	width: 55%;
    }

    ul.nav.navbar-nav.navbar-right {
	    margin-top: 75px;
	    margin-right: 0px;
	}

	.nav>li>a {
		padding: 5px 5px;
	}

	ul.nav.navbar-nav.navbar-right li a {
		font-size: 12px;
	}

    .slider {
        height: 305px;
    }

    .slider .slide {
        margin: 0;
        padding: 0;
    }

    .slider .slider-content ul li h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .slider .slider-content ul li p {
        font-size: 26px;
        line-height: 30px;
    }

    .main-content-below {
        padding: 60px 60px;
    }

    .main-content-below ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main-content-below ul li {
        font-family: gotham-light, arial, sans-serif;
        font-size: 50px;
        line-height: 60px;
        margin: 10px 0 40px 0;
    }

    .careers-main-content-left-column-container {
   	    padding: 10px 20px 15px 50px;
	}

	.careers-main-content-right-column-container h2, .careers-main-content-right-column-container p {
		padding: 0 50px 0 20px;
	}
}

@media (min-width: 768px) and (max-width: 869px) {
    .wrapper {
	    width: 95%; /* 1140px - 10% for margins */
	    margin: 0 auto;
	}

	.container {
	    width: 100%;
	    margin-top: 20px;
	}

	.navbar-default {
	    height: 131px;
	}
/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        flex: 0 0 160px;
        margin: 15px 0 10px 0;
    }

    .slogan {
        float: left;
        margin: 0;
        flex: 0 0 192px;
        font-size: 12px;
    	padding: 70px 0 5px 10px;
    }

    .logo {
        background-size: 100%;
    	width: 155px;
    }

    .navbar-header {
    	width: 50%;
    }

    ul.nav.navbar-nav.navbar-right {
	    margin-top: 65px;
	    margin-right: 0px;
	}

	.nav>li>a {
		padding: 5px 5px;
	}

	ul.nav.navbar-nav.navbar-right li a {
		font-size: 12px;
	}

    .slider {
        height: 345px;
    }

    .slider .slide {
        margin: 0;
        padding: 0;
    }

    .slider .slider-content ul li h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .slider .slider-content ul li p {
        font-size: 26px;
        line-height: 30px;
    }

    .main-content-below {
        padding: 60px 60px;
    }

    .main-content-below ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main-content-below ul li {
        font-family: gotham-light, arial, sans-serif;
        font-size: 50px;
        line-height: 60px;
        margin: 10px 0 40px 0;
    }

    .careers-main-content-left-column-container {
   	    padding: 10px 20px 15px 50px;
	}

	.careers-main-content-right-column-container h2, .careers-main-content-right-column-container p {
		padding: 0 50px 0 20px;
	}

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}


/* Mobile */
@media (max-width: 767px) {

	.logo {
	    background-size: 100%;
	}

	.title {
		width: 150px;
	    margin: 15px 0 0 0;
		padding: 0;
	}

	.navbar-header {
	    width: 64%;
	}

	.main-container {
	    margin-top: 58px;
	}

	.slogan {
	    padding: 0;
	    font-size: 12px;
	    position: absolute;
	    top: 90px;
        left: 21px;
	}

	.navbar-toggle {
	    margin-top: 65px;
	}

	ul.nav.navbar-nav.navbar-right {
	    margin-top: 0;
	}

	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		margin: 0;
		width: 100%;
	}

	.slider {
		height: 180px;
		width: 100%;
		padding: 0 15px;
	}

	.slider-content ul {
	    margin: 0;
	    padding: 0;
	}

	.slider .slider-content ul li h2 {
	    font-size: 25px;
	    margin: 8px 0 8px 0;
	    line-height: 25px;
	}

	.slider .slider-content ul li p {
		font-size: 13px;
	    line-height: 19px;
        padding: 5px 0;
	}

	.main-content-below {
	    padding: 20px;
	}

	.main-content-below ul {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	}

	.main-content-below ul li {
		font-size: 20px;
	    margin: 10px 0 10px 0;
	    line-height: 35px;
	}

	.about-main-content-middle {
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	}

	.about-main-content-middle-text {
	    padding: 20px 20px;
	}

	.about-site-main .about-main-container .about-main-photo #ses-about-video {
        width: 100%;
        height: auto;
        z-index: -100;
        background-size: cover;
	}

	.about-main-content-middle-text {
	    width: 100%;
	}

	.about-main-content-middle-text p {
	    font-size: 12px;
	    line-height: 24px;
	}

	.about-main-content-below {
    	padding: 20px 20px;
	}

	.about-main-content-below-text {
	    width: 100%;
	}

	.about-main-content-below-text p {
	    font-size: 12px;
	    line-height: 24px;
	}

	.people-orange-bar {
	    height: 100%;
	    background-size: cover;
	}

	.people-main-content-middle-text {
	    width: 100%;
	    padding: 20px;
	}

	.people-main-content-middle-text p {
	    font-size: 12px;
	    line-height: 24px;
	}

    .services-main-content-below {
        padding: 0;
    }

    .services-main-content-below .variances-services, .services-main-content-below .pm-services, .services-main-content-below .design-services {
        padding: 10px;
    }

    .services-main-content-below .variances-services h3, .services-main-content-below .pm-services h3, .services-main-content-below .design-services h3 {
        font-size: 12px;
        line-height: 16px;
    }

    .services-main-content-below .variances-services p, .services-main-content-below .pm-services p, .services-main-content-below .design-services p {
        font-size: 11px;
        line-height: 16px;
    }

    .services-main-content-below .variances-services .variances-icon {
        width: 55px;
        height: 55px;
    }

    .services-main-content-below .pm-services .pm-icon {
        margin-bottom: 6px;
        width: 35px;
        height: 35px;
    }

    .services-main-content-below .design-services .design-icon {
        margin-bottom: -7px;
        width: 60px;
        height: 60px;
    }

    .services-main-content-middle-text {
        width: 100%;
        padding: 20px;
    }

    .services-main-content-below {
        width: 100%;
        padding: 0 10px;
    }

	.contact-main-container {
	    width: 100%;
	}

	.contact-main-content-middle-text {
	    padding: 20px;
	    width: 100%;
	}

    .alert {
        width: 100%;
    }

    .contact-main-content-below .contact-form #contact-form {
        width: 100%;
    }

    .contact-main-content-below .contact-form #contact-form div span {
        min-width: 70px;
        text-align: left;
    }

    .contact-main-content-below .contact-form #contact-form div input {
        flex: 0 83%;
    }

    .contact-main-content-below .contact-form #contact-form div textarea {
        flex: 0 83%;
    }

    .contact-main-content-below .contact-info .contact-information {
        margin-right: 10px;
    }

    .contact-main-content-below .contact-info .contact-information h4 {
        font-size: 14px;
        line-height: 20px;
    }

    .contact-main-content-below .contact-info .contact-information p, .contact-main-content-below .contact-info .contact-information address {
        font-size: 12px;
        line-height: 18px;
    }

	.careers-mobile {
		display: block;
	}

	.careers-desktop {
		display: none;
	}

	.careers-main-container {
	    display: block; 
	    padding: 20px;
	}

	.careers-main-content-left-column {
	    flex: 0;
	}

	.careers-main-content-right-column {
	    flex: 0;
	}

	.careers-main-content-left-column-container {
		width: 100%;
	    padding: 0;
	    float: none;
	}

	.careers-main-content-right-column-container {
		width: 100%;
	    padding: 1px 0 20px 0;
	    float: none;
	}

    .careers-main-content-right-column-container ul li.career-title {
        padding: 0 10px;
    }

    .careers-main-content-right-column-container ul.career-details {
        padding: 0 0 0 30px;
    }

	.careers-main-content-right-column-container h2 {
	    padding: 0 20px 0 20px;
	}

	.careers-main-content-right-column-container ul li {
	    padding: 0 20px 0 20px;
	}
}



